Why is RTCDtlsFingerprint.value lowercase?

> 4.5.1 Dictionary RTCDtlsFingerprint Members
>
> value of type DOMString
> The value of the certificate fingerprint in lowercase hex string as expressed utilizing the syntax of 'fingerprint' in [RFC4572] Section 5.

However [RFC 4572 section 5](http://tools.ietf.org/html/rfc4572#section-5) clearly states:

> The hash value is represented as a sequence of
   uppercase hexadecimal bytes, separated by colons.  The number of
   bytes is defined by the hash function.  (This is the syntax used by
   openssl and by the browsers' certificate managers.  It is different
   from the syntax used to represent hash values in, e.g., HTTP digest
   authentication [18], which uses unseparated lowercase hexadecimal
   bytes.  It was felt that consistency with other applications of
   fingerprints was more important.)

Why lowercase then?

While, we don't have to adhere to exact syntax of RFC encodings inside SDP, we do attempt to... however, in this case it's not just uppercase, it's also split by colons. That is not something that needs to be carried into an API (IMHO). And "consistent' with other application is dependent on context. Many modern apps are adopting a lowercase hash standardization than ever before...

> however, in this case it's not just uppercase, it's also split by colons.

Does it mean that `RTCDtlsFingerprint.value` expects a string without colons?

IMHO an example should be added to the spec. Otherwise it is difficult to realize of the expected syntax.

Yes, it does expect that... it's pretty standard at this point to use lowercase non-colon separated strings. Although I suspect as 1.0 adds objects they may recast this differently and we'll attempt to be compatible so who knows how this will end up. But I still think lowercase hex strings are best for all around compatibility to modern-day JS expected usages.

Clear.

Let's them close this issue :)