RTCIceCredentialType

WebRTC 1.0 has added support for RTCIceCredentialType to RTCIceServer: 

dictionary RTCIceServer {
    required (DOMString or sequence<DOMString>) urls;
             DOMString                          username;
             DOMString                          credential;
             RTCIceCredentialType               credentialType = "password";
};

enum RTCIceCredentialType {
    "password",
    "token"
};

Proposal is to add support into ORTC API as well. 


Here is the proposed text additions: 

2.12 enum RTCIceCredentialType

RTCIceCredentialType represents the type of credential used by a TURN server.

enum RTCIceCredentialType {
    "password",
    "token"
};

Enumeration description

password 
The credential is a long-term authentication password, as described in [RFC5389], Section 10.2.
 
token 
The credential is an access token, as described in [TRAM-TURN-THIRD-PARTY-AUTHZ], Section 6.2.

2.13 The RTCIceServer Object

The RTCIceServer is used to provide STUN or TURN server configuration. In network topologies with multiple layers of NATs, it is desirable to have a STUN server between every layer of NATs in addition to the TURN servers to minimize the peer to peer network latency. 

An example of an array of RTCIceServer objects: 

Example 2
[ { urls: "stun:stun1.example.net" } , { urls:"turn:turn.example.org", username: "user", credential:"myPassword"} ]
    
dictionary RTCIceServer {
             (DOMString or sequence<DOMString>) urls;
             DOMString                          username;
             DOMString                          credential;
             RTCIceCredentialType               credentialType = "password";
};

Dictionary RTCIceServer Members
credential of type DOMString, 
If this RTCIceServer represents a TURN server, then this attribute specifies the credential to use with that TURN server.

credentialType of type RTCIceCredentialType, , defaulting to "password"
If this RTCIceServer object represents a TURN Server, then this attribute specifies how credential should be used when that TURN server requests authorization.

urls of type (DOMString or sequence<DOMString>), 
STUN or TURN URI(s) as defined in [RFC7064] and [RFC7065] or other URI types.

username of type DOMString, 
If this RTCIceServer object represents a TURN server, then this attribute specifies the username to use with that TURN server.
