RTCP and parameters.encodings[i].active

RFC 3264 Section 5.1 says: 

   Note that in the case of the Real Time Transport Protocol (RTP) [4], RTCP
   is still sent and received for sendonly, recvonly, and inactive
   streams.  That is, the directionality of the media stream has no
   impact on the RTCP usage.  

It would be useful to cite this within Section 9.7.1: 

Change:  "Plus, it still sends RTCP" to

"As noted in [RFC3264] Section 5.1, RTCP is still sent, regardless of the value of the active attribute." 