add API to get SSRC and audio level

At the WEBRTC WG Interim Meeting September 9-10, 2015, PR 300 was proposed and appeared to have WG consensus: 
https://github.com/w3c/webrtc-pc/pull/300

This is an issue to sync the ORTC API with the proposed text in WebRTC 1.0. 



Here is a posting with the proposed text: 
https://lists.w3.org/Archives/Public/public-ortc/2015Sep/0004.html

Here is a proposal: 

partial interface RTCRtpReceiver : RTCStatsProvider {
    sequence<RTCRtpContributingSource> getContributingSources ();
};

6.3.2 Methods

getContributingSources
Returns an RTCRtpContributingSource object for each unique CSRC or SSRC received by this RTCRtpReceiver. The browser must keep information from RTP packets received in the last 60 seconds.

No parameters.
Return type: sequence<RTCRtpContributingSource>

6.4 dictionary RTCRtpContributingSource

The RTCRtpContributingSource object contains information about a contributing source. Each time an RTP packet is received, the RTCRtpContributingSource objects are updated. If the RTP packet contains CSRCs, then the RTCRtpContributingSource objects corresponding to those CSRCs are updated, and the level values for those CSRCs are updated based on the mixer-client header extension [RFC6565] if present. If the RTP packet contains no CSRCs, then the RTCRtpContributingSource object corresponding to the SSRC is updated, and the level value for the SSRC is updated based on the client-mixer header extension [RFC6464] if present.

interface RTCRtpContributingSource {
    readonly    attribute DOMHighResTimeStamp timestamp;
    readonly    attribute unsigned long       source;
    readonly    attribute byte?               audioLevel;
};
6.4.1 Attributes

audioLevel of type byte, readonly , nullable
The audio level contained in the last RTP packet received from this source. If the source was set from an SSRC, this will be the level value in [RFC6464]. If the source was set from a CSRC, this will be the level value in [RFC6465]. Both [RFC6464] and [RFC6465] define the level as a integral value from 0 to -127 representing the audio level in decibels relative to the loudest signal that they system could possibly encode.

source of type unsigned long, readonly
The CSRC or SSRC value of the contributing source.

timestamp of type DOMHighResTimeStamp, readonly
The timestamp of type DOMHighResTimeStamp [HIGHRES-TIME], indicating the time of reception of the most recent RTP packet containing the source. The time is relative to the UNIX epoch (Jan 1, 1970, UTC). The timestamp corresponds to the local clock.