Incoming RTX payload ambiguity

It's highly desirable that an unannounced incoming stream where SSRCs are not pre-configured get automatically wired to an `RtpReceiver` based on a muxid and a codec list.

Scenario where RTX is ambiguous:
1) RtpReceiver is configured with a `muxid` of "`foo`", a full codec list of Opus (`96`), G711-ulaw (`0`), G711-alaw (`8`); Isac (`99`); RTX (`102`);
2) The `RtpSender` starts being is configured to use a `muxid` of "`foo`", using Opus (`96`) SSRC `1000`; RTX (`102`) with SSRC `2000`
3) The `RtpReceiver` sends a NACK for Opus; `RtpSender` sends SSRC `2000` packet ("`Packet-1`");
4) The `RtpSender` changes configuration (still using `muxid` of "`foo`") but using G711a (`8`) SSRC `1001`; RTX (`102`) with SSRC `2001`
5) The `RtpReceiver` sends a NACK for G711a; `RtpSender` sends SSRC `2001` packet ("`Packet-2`");
6) The `RtpSender` changes configuration (still using `muxid` of "`foo`") but using Isac (`99`) SSRC `1002`; RTX (`102`) with SSRC `2002`
7) The `RtpReceiver` sends a NACK for Isac; `RtpSender` sends SSRC `2002` packet ("`Packet-3`");


Problem: `RtpReceiver` suddenly receives RTX packets *late* and in *random* order ("`Packet-1`"); ("`Packet-2`"); ("`Packet-3`"), i.e. SSRCs `2001`, `2002`, `2003`, all configured with RTX payload type `102`. Given that the `RtpReceiver` processed 3 different SSRCs (where each replaced previous) the incoming RTXs packets are mis-matched to the current configuration and the incoming RTX packets are ambiguous to which original SSRC stream they belong.


The question is: prior to receipt of the answer, how to disambiguate RTX packets where the same RTX payload type (but different SSRCs) are used for different codecs?   

In terms of setting up the RtpParameters to be passed to receive(), when the answer arrives we will have multiple RTX entries, each with the same PT and muxId, but with different SSRC values, based on the information in the answer. 

However, before the answer arrives, all we know is the RTX PT and the APTs (the Payload Types of the codecs that will be used with RTX).  

Since all the RTCP SDES packets and RTX packets will contain the same muxId, muxId doesn’t provide information to help you out, and neither does PT since the PT value is the same for all RTX packets.

The original sequence number (OSN) in the RTX packets can be matched to the sequence numbers of the lost packets, which could perhaps enable RtpParameters to be revised based on the SSRC values of the received RTX packets as well as the OSNs which can be matched to SSRCs of the original streams to which RTX is applied.  However, the API (e.g. rtpunhandled event) does not currently provide the OSN).    

RFC 4588 Section 8.8 gives examples of RTX configuration using SSRC multiplexing when the RTX streams are differentiated by PT.  If the retransmission payloads are distinguished by PT, the RtpReceiver can be set up in advance and the problem you describe does not occur: 

   v=0
   o=mascha 2980675221 2980675778 IN IP4 host.example.net
   c=IN IP4 192.0.2.0
   m=audio 49170 RTP/AVPF 96 97
   a=rtpmap:96 OPUS/48000
   a=rtcp-fb:96 nack
   a=rtpmap:102 rtx/48000
   a=fmtp:102 apt=96;rtx-time=3000
   a=rtpmap:99 ISAC/32000
   a=rtcp-fb:99 nack
   a=rtpmap:103 rtx/32000
   a=fmtp:103 apt=99;rtx-time=3000
   a=rtpmap:0 PCMU/8000
   a=rtcp-fb:0 nack
   a=rtpmap:104 rtx/8000
   a=fmtp:104 apt=0;rtx-time=3000
   a=rtpmap:8 PCMA/8000
   a=rtcp-fb:8 nack
   a=rtpmap:105 rtx/8000
   a=fmtp:105 apt=0;rtx-time=3000





Peter Thatcher had a presentation relating to this at IETF 92: 
http://www.ietf.org/proceedings/92/slides/slides-92-avtext-4.pdf

PT will get eaten for breakfast quickly and it creates a needly more complicated match algorithm for a payload type allocated per original codec. Plus the same ambiguity exists for FEC too; MST also would have the same set of ambiguities;

Plus, there's a great advantage if the incoming stream can be decoded without even having to send the full mapping / signalling at all;

Peter's proposal is okay; I can see the overloading of the payload > 127 might have caused some to have heart palpitations though!

He's on the right track but I think a simple relationship to the base SSRC in the RTP extension header is good enough, i.e. something like this:

````
        0                   1                   2                   3
        0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
       +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
       |ID=1   |        Reserved       |   Original sequence number    |
       +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
       |      Associated synchronization source (SSRC) identifier      |
      
       ID=1 (4 bits) Extended SSRC RTX packet information
      
       Original sequence number (16 bits) - original sequence number field
                                            as copied outside the encrypted
                                            payload (for mixers)
       Associated SSRC (32 bits) - the SSSRC of the original SSRC to which
                                   this RTX stream applies.
      
       When a mixer is present, this header can be carried encrypted to
       the mixer indicating the important information about the RTX packet
       so the mixer can make intelligent decisions about where to forward the
       RTX packet.
      
       When no mixer is present, this header need only be transmitted by
       the sending party until the receiver has successfully acknowledged
       receipt of any RTP packet carrying this data though any means (e.g.
       RTCP receiver report or RTCP ACK)

        0                   1                   2                   3
        0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
       +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
       |ID=2   |      Reserved       |A|            Reserved           |
       +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
       |      Associated synchronization source (SSRC) identifier      |
      
       ID=2 (4 bits) Extended FEC/RED information
      
       A flag (1 bit) - the Associated SSRC field is valid.
      
       Associated SSRC (32 bits)- the SSSRC of the original SSRC to which
                                  this FEC/RED applies (i.e. needed where
                                  ambiguity may exist).

        0                   1                   2                   3
        0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
       +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
       |ID=3   |      Reserved       |A|            Reserved           |
       +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
       |      Associated synchronization source (SSRC) identifier      |
      
       ID=3 (4 bits) MST SVC packet layer
      
       A flag (1 bit) - the Associated SSRC field is valid.
      
       Associated SSRC (32 bits)- the SSSRC of the base layer SSRC to which
                                  this MST applies (i.e. needed where
                                  ambiguity may exist).
````

It would resolve ambiguity and allow non-signalled streams to be routed properly within receivers; Plus it need only be sent on the first set of initial packets on an independent SSRC RTX/FEC/MST stream until packets containing this RTP header extension with this SSRC have been acknowledged via a RTCP RR (just like the MID RTP header extension).

Then all that needs to be signalled is the supported extension to make it work; the payload type RTX/FEC and the extension are all that are needed to demux, route and render everything without additional signalling in the SDP and prior to receiving the SDP with SSRCs fully mapped out.


FYI - the ambiguity is resolve by either including a payload type that disambiguates or MID/RID extension headers.