Clarification on usage of ssrc value on RTCRtpReceiver

```
ssrc of type unsigned long
  The SSRC to be used in the "SSRC of packet sender" field defined in [RFC3550]
  Section 6.4.2 (Receiver Report) and [RFC4585] Section 6.1 (Feedback Messages),
  as well as the "SSRC" field defined in [RFC3611] Section 2 (Extended Reports). 
  This is only set for an RTCRtpReceiver. If unset, ssrc is chosen by the browser, 
  and the chosen value is not reflected in RTCRtcpParameters.ssrc. If the browser 
  chooses the ssrc it may change it in event of a collision, as described in [RFC3550].
```

This is a tricky one. 

The configured ssrc is going to be used at the RTPReceiver for sending back RTCP messages to the sender. Typically on a one-to-one situation this would be the same ssrc of the RTPSender. As we have no relationship between the RTPSenders/RTPReceiver this ssrc s the only field that to "match" them and send RTCP SR/RR on same ssrc.

Not sure if it provides really any functionality for the API user, and if would be ever be needed. I think this should be handled internally by the ortc implementation and not exposed at all. Also note that browser may change it at any time without notification,

ORTC spec is already too complex to add stuff that would not be used at all. Or do you foresee any use case in which this could be usable/needed at all?


@murillo128 only for possible compatibility reasons since it's part of the RTP spec... it's defaulted by the engine. There was discussion on this one previously with no good conclusions. So we concluded to make it a setting that could be tweaked but not really of high value to most.

@murillo128 The issue was that an RtpReceiver could be created without an RtpSender, so that the implementation might not have an SSRC available to place in the "SSRC of packet sender" field. 

Yes, I understand that.

But my point is that the SSRC cannot be set on the remote RTPSender,
neither is used in WebRTC compatibility.

So except if you are looking at a network capture I don't see how this can
be used at all.

IMHO this should be handled internally by the browser.
El 2/4/2016 3:37, "aboba" <notifications@github.com> escribió:

> @murillo128 <https://github.com/murillo128> The issue was that an
> RtpReceiver could be created without an RtpSender, so that the
> implementation might not have an SSRC available to place in the "SSRC of
> packet sender" field.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly or view it on GitHub
> <https://github.com/openpeer/ortc/issues/449#issuecomment-204624412>
>


@murillo128  I agree that other than for debugging purposes, a developer should not need to choose rtcp.ssrc - it can just let the browser set it.

> a developer should not need to choose rtcp.ssrc - it can just let the browser set it.

...but still we need a way to know which SSRC the `RtpSender` has chosen *before* we even begin sending media.

Please ignore me. I did not realize this issue was related to the `ssrc` field of RTCP.