Aggressive ICE nomination

Need a knob to be able to indicate aggressive ICE nomination mode.


Draft from Justin Uberti related to this topic: 
https://tools.ietf.org/html/draft-uberti-mmusic-nombis


RFC 5245 requires implementations to support regulator nomination. For example, Section 8.1.1 says:

The controlling agent nominates pairs to be selected by ICE by using
one of two techniques: regular nomination or aggressive nomination.
If its peer has a lite implementation, an agent MUST use a regular
nomination algorithm. If its peer is using ICE options (present in
an ice-options attribute from the peer) that the agent does not
understand, the agent MUST use a regular nomination algorithm. If
its peer is a full implementation and isn't using any ICE options or
is using ICE options understood by the agent, the agent MAY use
either the aggressive or the regular nomination algorithm. However,
the regular algorithm is RECOMMENDED since it provides greater
stability.

Based on the above, a compliant ICE agent should be able to decide whether to use aggressive or regular nomination. If the ICE implementation is non-compliant (e.g. only supports aggressive or regular nomination, but not both) there will be problems - but in that case, the flag wouldn't be supported anyway.

As noted in draft-uberti-mmusic-nombis, regular nomination isn't necessary slower to send media than aggressive mode, since RFC 5245 Section 8.1.2 says:

o Once there is at least one nominated pair in the valid list for
every component of at least one media stream and the state of the
check list is Running:

  *  The agent MAY begin transmitting media for this media stream as
     described in Section 11.1.

@aboba Are you saying that we must have this knob, or that we don't need to knob because the RFC demands only regular? I think this is one of the cases where people didn't always follow the RFCs and built aggressive only stuff.

Think of it this way:

1. For the knob to have an effect, you need to have an underlying
implementation that can do both aggressive and regular nomination.

2. If in fact the implementation can do either, then it can interoperate
with non-compliant implementations that do aggressive or regular nomination
(but not both), without the need for a knob.  For example, the
implementation can do aggressive nomination by default (which will allow it
to interoperate with implementations that only do aggressive) or if it
receives ice-options it doesn't understand, it can choose regular
nomination (which would allow it to interoperate with implementations that
only do regular nomination).

On Mon, Apr 27, 2015 at 6:13 AM, Robin Raymond <notifications@github.com>
wrote:

> @aboba <https://github.com/aboba> Are you saying that we must have this
> knob, or that we don't need to knob because the RFC demands only regular? I
> think this is one of the cases where people didn't always follow the RFCs
> and built aggressive only stuff.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/openpeer/ortc/issues/56#issuecomment-96646350>.
>


We definitely need a flag right now...

This is not a 1.2 issue, this is a 1.0 compatibility issue (although not with chrome specifically which only does aggressive as of right now). To be compatible, we need to be able to tell the transport to go into aggressive mode or not. In `controlling` role, we need to know if use-candidate is need or not on every check and in `controlled` role we need to know which algorithm to use (e.g. 3 second role applies to aggressive ice).

For compatibility reasons: if non understood ice-options are present SDP, regular nomination is mandated to be used (see @aboba above).

We would need to obsolete the aggressive requirement (e.g. nobmis https://tools.ietf.org/html/draft-uberti-mmusic-nombis-00 ) to not require a flag.

@aboba is there an update on the requirements for support for regular vs aggressive?

If it's mandatory that both are supported, then we need a knob to be able to tell which is to be used. If it's optional, then we need a capability and a knob to turn it on / off. If it mandatory for compliance with WebRTC only use one or the other modes then we need to close down this issue and define the mode of operation.

Also, regular nomination seems to restrict any media packets from being interpreted until the nomination completes. Is this a confirmed behaviour?


The latest from the ICE WG on Aggressive within RFC 5245bis:  
http://www.ietf.org/mail-archive/web/ice/current/msg00196.html

As aggressive is no longer an option, there does not need to be a knob setting for it.