Change "nominated" to "selected"

In WebRTC 1.0, the method getSelectedCandidatePair has been proposed: 
https://lists.w3.org/Archives/Public/public-webrtc/2015Jun/0057.html

The term "selected" as defined in RFC 5245 Section 11.1.1 appears more appropriate than "nominated" it is proposed to change "nominated" to "selected" both in the method name as well as in the text throughout the document. 