Need to add "public" to RTCIceGatherPolicy

JSEP Section 4.1.1 (see: https://tools.ietf.org/html/draft-ietf-rtcweb-jsep) defines the meaning of "public" in WebRTC 1.0 RTCIceTransportPolicy: 

public:  Candidates with private IP addresses [RFC1918] will be filtered out.  This prevents exposure of internal network details, at the cost of requiring relay usage even for intranet calls, if the NAT does not allow hairpinning as described in [RFC4787], section 6.

While this is now supported into the WebRTC 1.0 API's RTCIceTransportPolicy, there is no equivalent in ORTC RTCIceGatherPolicy. 

WebRTC 1.0 Issues: 
https://github.com/w3c/webrtc-pc/issues/384
https://github.com/w3c/webrtc-pc/issues/8

WebRTC 1.0 PR: https://github.com/w3c/webrtc-pc/pull/432