Contributing source(s) missing "voice" activity flag

There is audio level and csrc/ssrc but no flag indicating voice which is contained within the packet.

NOTE: This is only contained in "client to mixer" extension so maybe it should not be added but peer to peer this would be available so there might be some value in exposing this value to the programmer. Could be "unset" for "mixer to client" obtained values and "set" for "client to mixer" obtained values (i.e. when value arrives peer to peer).

I think there are two issues here.  One is how an RtpSender can turn on the "V" bit.  Currently RTCRtpHeaderExtensionParameters has no support for extension mechanisms such as the "vad" extension (which can be "on" or "off").  

The second issue is whether it is valuable for a peer to know whether an individual RTP packet has the "V" bit set or not.  If the goal is to set a level indicator, then I don't think the "V" bit is relevant (e.g. it doesn't matter if the sender is attempting to send voice, all that matters is the audio level). 


WebIDLdictionary RTCRtpHeaderExtensionParameters {
             DOMString      uri;
             unsigned short id;
             boolean        encrypt = false;
};


From RFC 6464 Section 3: 

   In addition, a flag bit (labeled "V") optionally indicates whether
   the encoder believes the audio packet contains voice activity.  If
   the V bit is in use, the value 1 indicates that the encoder believes
   the audio packet contains voice activity, and the value 0 indicates
   that the encoder believes it does not.  (The voice activity detection
   algorithm is unspecified and left implementation-specific.)  If the V
   bit is not in use, its value is unspecified and MUST be ignored by
   receivers.  The use of the V bit is signaled using the extension
   attribute "vad", discussed in Section 4.

From RFC 6464 Section 4: 

   The URI for declaring this header extension in an extmap attribute is
   "urn:ietf:params:rtp-hdrext:ssrc-audio-level".

   It has a single extension attribute, named "vad".  It takes the form
   "vad=on" or "vad=off".  If the header extension element is signaled
   with "vad=on", the V bit described in Section 3 is in use, and MUST
   be set by senders.  If the header extension element is signaled with
   "vad=off", the V bit is not in use, and its value MUST be ignored by
   receivers.  If the vad extension attribute is not specified, the
   default is "vad=on".

   An example attribute line in the Session Description Protocol (SDP)
   for a conference might hence be:

      a=extmap:6 urn:ietf:params:rtp-hdrext:ssrc-audio-level vad=on

   The vad extension attribute only controls the semantics of this
   header extension attribute, and does not make any statement about
   whether the sender is using any other voice activity detection
   features, such as discontinuous transmission, comfort noise, or
   silence suppression.

But should is also have this peer to peer?

````
dictionary RTCRtpContributingSource {
             DOMHighResTimeStamp timestamp;
             unsigned long       source;
             byte?               audioLevel;
             boolean             vad;  // <-- add this?
};
````

This would allow a P2P app to know active speaker so the proper video gets put into primary focus (e.g. useful for telepresence).

Also `byte?` audioLevel... don't think we need nullable, just not present when not set.

January 14, 2016:  Issue discussed in WEBRTC WG virtual interim.  Addition of support for the "V" bit accepted, but v attribute changed to voiceActivityFlag attribute.  

WebRTC 1.0 API PR: https://github.com/w3c/webrtc-pc/pull/454