RTCDtlsTransport.start needs to return a promise

`RTCDtlsTransport.start()` needs to return a promise so the programmer is aware when either the remote fingerprints become verified or it fails to verify (to avoid busy polling).

Start DTLS transport negotiation with the parameters of the remote DTLS transport, then once the DTLS transport session is established, negotiate a DTLS-SRTP [RFC5764] session to establish keys so as protect media using SRTP [RFC3711]. Since symmetric RTP [RFC4961] is utilized, the DTLS-SRTP session is bidirectional. A newly constructed RTCDtlsTransport must listen and respond to incoming DTLS packets before start() is called. However, to complete the negotiation it is necessary to verify the remote fingerprint, which is dependent on remoteParameters, passed to start().

When the start() method is invoked, the user agent must run the following steps:

Let p be a new promise.

Run the following steps asynchronously:

If remoteParameters is invalid, then reject p with InvalidParametersError and abort these steps. 

If start() is called after a previous start() call, or if stop() or transport.stop() has been called,then reject p with  InvalidStateError and abort these steps. 

Only a single DTLS transport can be multiplexed over an ICE transport. Therefore if a RTCDtlsTransport object dtlsTransportB is constructed with an RTCIceTransport object iceTransport previously used to construct another RTCDtlsTransport object dtlsTransportA, then if dtlsTransportB.start() is called prior to having called dtlsTransportA.stop(), then reject p with InvalidStateError and abort these steps. 

Alternative to a promise: We add a `validated` state to the RTCDtlsTransport state table. If start remote fingerprints validate, it goes to this state (after connected of course). If it fails fingerprint validation, object could go to `closed` state. Question: does this cause 1.0 compatibility concern?

NOTE: We already have to monitor the `closed` state on a `RTCDtlsTransport`, so if we did a promise we would have to monitor both the rejection of the promise and the `closed` state. So for that reason I'd prefer to not use a promise and use a `validated` state so the error is already monitored via `closed` state and we can monitor `validated` state to know the remote party is truly whom they claim to be.

Would we still need an additional RTCDtlsTransportState if we we defined "connected" and "closed" as follows? 

connected	
DTLS has completed negotiation of a secure connection (including DTLS-SRTP and remote fingerprint verification).

closed	
The DTLS connection has been closed intentionally or as the result of an error (such as a failure to validate the remote fingerprint).

It's not even this simple. The `RTCDtlsTransport.getLocalParamters()` returns certificate fingerprints and those certs can take a while to generate. So that method either needs to be made a promise or we need to create a cert management API as suggested in bug #195 . If we mandate that a certificate is required then both sides would therefor need to have generated and exchanged their certs before calling `RTCDtlsTransport.start()` or media will not be allowed to flow. The question I have is do we want to allow any media or data to flow prior to validating the fingerprint. If no, then `connected` state can be the same as `validated` since we will never send media without validation the fingerprint anyway and we'd never go into the `connected` state unless the fingerprints have been validated.

Keep in mind that we cannot send or receive DTLS packets properly until we have both sides generated their respective certs but they need not be signalled yet for media to flow (if you don't mind being in a potential man-in-the-middle attack state). If you don't mind temporary man-in-the-middle then there is a reason to have `validated` separated from `connected`.

Suggested solution: For `RTCDtlsTransport` `connected` should imply that start has been called and is validated. However, incoming media can flow through prior to the `connected` state but outgoing media will not start sending until in the `connected` state.

Reasoning: the remote party might have validate you already and determined the fingerprints are correct and thus starts sending media immediately but you have not yet validated your side so you won't send media until you do the same.

Here is a potential update to DtlsTransportState: 

      new
      The RTCDtlsTransport object has been created and has not started negotiating yet.

      connecting
      DTLS is in the process of negotiating a secure connection.  Once a secure connection is negotiated and DTLS-SRTP has derived keys (but prior to verification of the remote fingerprint, enabled by calling start(), incoming media can flow through.

      connected
      DTLS has completed negotiation of a secure connection (including DTLS-SRTP and remote fingerprint verification). Outgoing media can now flow through.

      closed
      The DTLS connection has been closed intentionally or as the result of an error (such as a failure to validate the remote fingerprint).


The latest WebRTC 1.0 specification (http://w3c.github.io/webrtc-pc/archives/20150611/webrtc.html) includes a Certificate Management API in Section 5.5.  This provides for a getCertificate() method that returns a promise.   So there is a need to discuss how the certificate management API would affect this issue (e.g. the certificate could be created and then passed to the DtlsTransport constructor, so that getLocalParameters could return immediately).  