H264 caps vs params

>9.3.3.3 H.264
>The following capability parameters are defined for "h264", as noted in [RFC6184] Section 8.1, and [RTCWEB-VIDEO] Section 6.2.
>maxMbps, maxSmbps, maxFs, maxCpb, maxDpb, maxBr

>9.7.2.3 H.264

The values "maxMbps, maxSmbps, maxFs, maxCpb, maxDpb, maxBr" are missing from the parameters. How does one take the capabilities of the receiver on one side and plum them to the sender on the other if there are no corresponding parameters?


Rather than defining codec-specific parameters, I believe that the intent is to allow control via the maxBitrate and maxFramerate attributes in RTCRtpEncodingParameters. 

It's advertised for FYI info but not something an engine will support as parameters at this time.